# Tuples are read only data type, other things are same as list

In [1]:
touples=(1,2,3,4)
len(touples)

4

In [2]:
sorted(touples,reverse=True)

[4, 3, 2, 1]

# Sets 
# rules :
# 1 sets donot allow duplicates 
# 2 sets donot have indexing / slice
# 3 set donot allow mutable data type 
# 4 set it self a mutable data type 
# so 2d and 3d sets are not possible

In [1]:
s1={1,2 ,3,4,5}  
s1

{1, 2, 3, 4, 5}

In [ ]:
s2={[1,2,3],"Ubaid"}
s2

TypeError: unhashable type: 'list'

# see the error for list unhashable lets use with tuple

In [6]:
s2={(1,2,3),"Ubaid","Hello"}
s2

{(1, 2, 3), 'Hello', 'Ubaid'}

# In set indexing not matter we are using hashing technique to get position

# lets get example of indexing or slicing

In [7]:
s1[0]

TypeError: 'set' object is not subscriptable

In [9]:
s1[:2]

TypeError: 'set' object is not subscriptable

# indesing / slicing not working

# but we can add items

In [10]:
s1.add(50)
s1

{1, 2, 3, 4, 5, 50}

In [ ]:
del s1

In [12]:
s1

NameError: name 's1' is not defined

In [13]:
# we can use loop
for i in s2:
    print(i)

Ubaid
Hello
(1, 2, 3)

In [15]:
# sorted
s1={4,6,4,9}
sorted(s1)

[4, 6, 9]

In [16]:
# specific sets function
s2={3,5,9}

s1.union(s2)

{3, 4, 5, 6, 9}

In [17]:
s1.intersection(s2)

{9}

In [18]:
s1.difference(s2)

{4, 6}

# Dictionary 
# key , value  pair 
# Roles :
# 1 it has no indexing 
# 2 it is mutable
# 3  Keys imutable , value mutable 
# 4 key will be unique

In [19]:
d={"name": 'ubaid' , "age":10 }
d

{'name': 'ubaid', 'age': 10}

In [20]:
d["name"]

'ubaid'

# 2D dictionary

In [22]:
d2={"name": 'ubaid' , "age":10 ,"phone":{"p1":"073423424", "p2":"07234234"}}
d2["phone"]["p2"]

'07234234'

In [23]:
d2["university"]="abc"
d2

{'name': 'ubaid',
 'age': 10,
 'phone': {'p1': '073423424', 'p2': '07234234'},
 'university': 'abc'}

In [24]:
del d2["age"]
d2

{'name': 'ubaid',
 'phone': {'p1': '073423424', 'p2': '07234234'},
 'university': 'abc'}

In [26]:
for i in d2:
    print(i,d2[i])

name ubaid
phone {'p1': '073423424', 'p2': '07234234'}
university abc

In [ ]:
d2.keys()
for i in d2.keys():
    print(i)

name
phone
university